[Unit]
Description=DSpace UI PM2 Process Manager
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
User={{ frontend_user }}
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=8
Restart=on-failure
RestartSec=8

Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=PM2_HOME=/home/{{ frontend_user }}/.pm2
PIDFile=/home/{{ frontend_user }}/.pm2/pm2.pid

ExecStart=/usr/lib/node_modules/pm2/bin/pm2 start {{ dspace_frontend_source_dir }}/dspace-ui.json --no-daemon
ExecReload=/usr/lib/node_modules/pm2/bin/pm2 reload {{ pm2_app_name }}
ExecStop=/usr/lib/node_modules/pm2/bin/pm2 kill

[Install]
WantedBy=multi-user.target
