# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Settings here will override settings in existing env vars or in bin/solr.in.sh

SOLR_PID_DIR="/var/solr"
SOLR_HOME="/var/solr/data"
LOG4J_PROPS="/var/solr/log4j2.xml"
SOLR_LOGS_DIR="/var/solr/logs"
SOLR_PORT="{{ solr_port }}"
SOLR_HEAP="512m"

# Uncomment to set SSL-related system properties
# Be sure to update the paths to the correct location for your setup
#SOLR_SSL_ENABLED=true
#SOLR_SSL_KEY_STORE=/home/solr/solr-ssl.keystore.p12
#SOLR_SSL_KEY_STORE_PASSWORD=secret
#SOLR_SSL_KEY_STORE_TYPE=PKCS12
#SOLR_SSL_TRUST_STORE=/home/solr/solr-ssl.keystore.p12
#SOLR_SSL_TRUST_STORE_PASSWORD=secret
#SOLR_SSL_TRUST_STORE_TYPE=PKCS12
#SOLR_SSL_NEED_CLIENT_AUTH=false
#SOLR_SSL_WANT_CLIENT_AUTH=false
#SOLR_SSL_CLIENT_KEY_STORE=/home/solr/solr-ssl.keystore.p12
#SOLR_SSL_CLIENT_KEY_STORE_PASSWORD=secret
#SOLR_SSL_CLIENT_KEY_STORE_TYPE=PKCS12
#SOLR_SSL_CLIENT_TRUST_STORE=/home/solr/solr-ssl.keystore.p12
#SOLR_SSL_CLIENT_TRUST_STORE_PASSWORD=secret
#SOLR_SSL_CLIENT_TRUST_STORE_TYPE=PKCS12

# Settings for authentication
#SOLR_AUTH_TYPE="basic"
#SOLR_AUTHENTICATION_OPTS="-Dbasicauth=solr:SolrRocks"

# Additional JVM options for Solr
# Enable config lib loading for DSpace
SOLR_OPTS="-Dsolr.config.lib.enabled=true"